@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

#category__container > a:hover .categories__title {
  color: #5946d7;
}

#category__container > a:hover {
  opacity: 1;
}

button,
a {
  transition: all 0.3s;
}

button:hover,
a:hover {
  opacity: 0.6;
}

.swiper,
.swiper_desktop,
.swiper_mobile {
  width: 100%;
  /* height: 300px; */
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

.active_button {
  color: #fff;
  background-color: #000000;
}

@media (max-width: 768px) {
  .swiper-pagination-new-1 {
    display: none;
  }
}

.navigationBtnL,
.navigationBtnL-1 {
  position: absolute;
  top: 250px;
  left: 0px;
  background-image: url("../img/swiper/next_icon.png");
  width: 30px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px !important;
  box-shadow: 0 0 2px 0 rgba(128, 128, 128, 0.438);
  background-position-x: -8px;
  border: none;
  outline: none;
  z-index: 0;
}
.navigationBtnR,
.navigationBtnR-1 {
  position: absolute;
  top: 250px;
  right: 0;
  border-radius: 10px !important;
  box-shadow: 0 0 2px 0 rgba(128, 128, 128, 0.438);
  background-image: url("../img/swiper/prev_icon.png");
  width: 30px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-position-x: 0px;
  border: none;
  outline: none;
  z-index: 0;
}

.navigationBtnL.swiper-button-disabled,
.navigationBtnR.swiper-button-disabled,
.navigationBtnR-1.swiper-button-disabled,
.navigationBtnL-1.swiper-button-disabled {
  display: none;
}

@media (max-width: 1115px) {
  .navigationBtnL,
  .navigationBtnL-1,
  .navigationBtnR,
  .navigationBtnR-1 {
    z-index: 1;
  }
}

@media (min-width: 768px) {
  .swiper-pagination-new-1 {
    position: absolute !important;
    text-align: center !important;
    display: flex !important;
    gap: 10px !important;
    left: 60px !important;
    bottom: 30px !important;
    z-index: 50;
  }

  .swiper-pagination-bullet {
    opacity: 100 !important;
    height: 4px !important;
    background-color: #e7e7e762 !important;
    border-radius: 30px !important;
    width: 60px !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #d9d9d9 !important;
    width: 60px !important;
  }

  .swiper-button-prev-new-1::before {
    content: url("../img/swiper/next_icon.png");
    box-shadow: 10px !important;
    width: 40px;
    height: 40px;
    position: absolute !important;
    display: flex;
    align-items: center;
    border-radius: 14px !important;
    overflow: hidden;
    width: 38px;
    height: 38px;
    left: 0;
    top: 180px;
    z-index: 50;
  }

  .swiper-button-prev-new-1::before:hover {
    content: url("images/swiper/next_icon.png");
    box-shadow: 10px !important;
    width: 40px;
    height: 40px;
    position: absolute !important;
    display: flex;
    align-items: center;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0.7;
    box-shadow: 20px;
  }

  .swiper-button-next-new-1::before {
    content: url("../img/swiper/prev_icon.png");
    box-shadow: 10px !important;
    width: 40px;
    height: 40px;
    border-radius: 8px !important;
    display: flex;
    align-items: center;
    height: 100%;
    top: 180px;
    width: 38px;
    border-radius: 12px !important;
    height: 38px;
    overflow: hidden !important;
    right: 0;
    position: absolute !important;
    z-index: 50;
  }
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .swiper-button-prev-new-2::after {
    content: url("../img/swiper/next_icon1.svg");
    box-shadow: 10px !important;
    width: 40px;
    height: 40px;
    position: absolute !important;
    display: flex;
    align-items: center;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 30;
    border-radius: 12px !important;
  }

  .navigationBtnL,
.navigationBtnR,
.navigationBtnR-1,
.navigationBtnL-1 {
  display: none;
}

  .swiper-button-next-new-2::after {
    content: url("../img/swiper/prev_icon1.svg");
    box-shadow: 10px !important;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    height: 100%;
    top: 0;
    right: 15px;
    position: absolute !important;
    z-index: 30;
    border-radius: 12px !important;
  }

  .swiper-pagination-new-2 {
    position: absolute !important;
    text-align: center !important;
    bottom: 20px !important;
    display: flex !important;
    justify-content: center !important;
    gap: 10px !important;
  }

  .swiper-pagination-bullet {
    opacity: 100 !important;
    height: 4px !important;
    background-color: #5946d775 !important;
    border-radius: 30px !important;
    width: 60px !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #5946d7 !important;
    width: 60px !important;
  }
}
